{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}

<div class="contain forms-view">
  <div class="row m-4 justify-content-center">
    <div class="col-md-5 m-4 p-4 text-center form-box">


      <h2 class="form-text my-4">Login</h2>


      <p>If you have not created an account yet, then please
        <a href="{{ signup_url }}"><strong class="hover-txt">sign up</strong></a> first.</p>


      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot password,<strong class="hover-txt">click here!</strong>
        </a>
        <br>
        <button class="btn btn-header m-3" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}