{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="contain forms-view">
  <div class="row justify-content-md-center m-4">
    <div class="col-md-5 text-center form-box m-4 p-4">
      <h1 class="form-text my-4">Please input your new password!!</h1>

      <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-header m-3" type="submit">Reset password</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}