{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="contain forms-view">
  <div class="row justify-content-md-center m-4">
    <div class="col-md-5 text-center form-box mt-5">
      <h2 class="form-text my-4">Forgot your password?</h2>
      <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

      <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="Send me instructions!" class="btn btn-header my-5">
      </form>
    </div>
  </div>
</div>

{% endblock %}