@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.contain {
    margin: auto;
    font-family: 'Dosis', sans-serif;
    max-width: 1400px;
}

ul {
    list-style: none;
}
.asteriskField {
    display: none;
}
/* -----navigation menu ------*/
.left {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: baseline;
}
.username {
    margin-left: 1rem;
    color: rgb(241, 78, 2);
}
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
}

.logo-header {
    width: 50px;
    height: 50px;
}

.navbar-expand-lg .navbar-collapse {
    margin-left: 20rem;
}
.image {
    width: 100%;
}
.navbar {
    border-bottom: 1px solid rgb(236, 72, 7);
    border-radius: 2px;
    box-shadow: 1px 1px 12px rgb(236, 72, 7);
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    color: white;
    --bs-nav--link-color: white;
}

.hero {
    display: flex;
}
.active-class {
    font-weight: bolder;
    color: rgb(236, 72, 7);
    padding-bottom: 0;
    
}
/* hero image */
.hero-img {

    background-image: url('https://res.cloudinary.com/dpeqgxtle/image/upload/v1680188340/static/images/hero_img.b8a4c209f3ba.webp');
    /* background-image: url("/static/images/hero_img.jpg"); */
    background-position: center center;
    background-size: cover;
    height: 87vh;
    width: 100%;
}

/* hero text */
.hero-text {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ---------- footer---------------- */
.footer {
    background-color: rgb(236, 72, 7);
    padding: 0.4rem 5rem 1rem;
    border: 0.5px solid black;
    border-radius: 4px;
}

.logo-footer {
    max-height: 90px;
    max-width: 90px;
}

.form-control {
    width: 90%;
    margin: 8px 0px;
}
.scale {
    transition: transform .5s;
}
.scale:hover {
    transform: scale(1.1);
}
.form-parent {
    position: relative;
}
.form-child {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: rgb(236, 72, 7);
}
.btn-outline-light {
--bs-btn-hover-color:rgb(236, 72, 7);
}
.copy {
    margin-bottom: -8px;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 4px;
}
/* ------------------ index------------------- */

.lead-text {
    margin: 1rem 2rem;
    font-weight: 800;
    font-size: 3.4rem;
}

.high {
    max-height: 25rem;
    object-fit: cover;
}

.icon {
    font-size: 3rem;
}

.li-txt {
    font-size: 2rem;
    font-weight: 600;
}

.li-nmb {
    font-weight: 900;
}

/* ---------------posts page--------------- */

.card {
    background: rgb(210, 85, 8);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(210, 85, 8) 100%);
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.post-link {
    transition: all .2s ease-in-out;
}

.post-link:hover {
    color: rgb(72, 77, 109);
    font-weight: 800;
    text-transform: capitalize;
}

.paragraph-text {
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    line-height: normal;
}
.post-date {
    display: flex;
    flex-direction: row;
}
.post-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.search-btn {
    position: absolute;
    right: -1px;
    border-radius: 50%;
    border-color: rgb(236, 72, 7);
    background-color: rgb(236, 72, 7);
    color: white;
}
.search-btn:hover {
    background-color: white;
    color: rgb(236, 72, 7);
}
.search-back {
    color: rgb(236, 72, 7);
    font-size: 1.7rem;
}
.search-back:hover {
    color: rgb(188, 3, 3);
}

/* --------------post page------------------ */
textarea {
    width: 300px;
    height: 150px;
  }
  .none {
    border-radius: 50%;
    border: none;
  }
  .none:hover {
    background-color: rgb(240, 179, 141);
  }
  .border-div {
    box-shadow: 6px 4px 8px;
    border-radius: 10px;	
}
  .next {
    border: 1px solid rgb(240, 179, 141);
    border-radius: 10px;
    margin: 0;
    color: black;
  }
  .next:hover {
    background-color: rgb(240, 179, 141);
  }
/* -------------profile-------------------- */
.user-img {
    width: 100px;
    height: 100px;
}
/* .profile-fields {
    width:70%;
    border:1px solid rgb(236, 72, 7);
    border-radius: 5px;
} */
#id_first_name,
#id_last_name,
#id_email,
#id_bio,
#id_login,
#id_password, 
#id_password1, 
#id_password2, 
#id_username {
    width:100%;
    border:1px solid rgb(236, 72, 7);
    border-radius: 5px;
}

/* ------------------Login, logout, signup page--- */

.form-text {
    font-size: 2rem;
    font-weight: 700;
}
.forms-view {
    min-height: 75vh;
}
#div_id_password {
    display: none;
}
.form-box {
    border: 1px solid rgb(236, 72, 7);
    border-radius: 10px;
    box-shadow: 5px 5px 19px 5px rgb(236, 72, 7);
}
.hover-txt:hover {
    color: rgb(236, 72, 7);
}
.signup {
    margin: 0 auto;
}
/* -----------------smaller screens------------ */
@media screen and (max-width:950px) {
    .navbar-expand-lg .navbar-collapse {
        margin-left: 0rem;
    }

    .justify-content-end {
        justify-content: flex-start !important;
    }
    .logo-footer {
        height: 60px;
        width: 60px;
    }
    .lead-text {
        font-size: 3rem;
    }
}
@media screen and (max-width:750px) {
    .profile-info {
        padding: 3rem;
    }
    .profile-form {
        padding: 3rem;
    }
}
@media screen and (max-width:500px) {
    .footer {
        padding: 0.5rem 1rem;
    }

    .form-control {
        width: 97%;
    }
    .forms-view {
        min-height: 85vh;
    }
    .logo-footer {
        height: 40px;
        width: 40px;
    }
    .li-txt {
        font-size: 1rem;
    }
    .lead-text {
        font-size: 2.6rem;
    }
    .post-title {
        display: block;
    }
    .ws {
        width: 100%;
    }
    .row>* {
        padding-right: 0;
        padding-left: 0;
        
    }
}