@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.contain { 
    margin: auto;
    font-family: 'Dosis', sans-serif;
    max-width: 1200px;  
}
ul {
    list-style: none;
}
/* -----navigation menu ------*/
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
}
.navbar-expand-lg .navbar-collapse {
    margin-left: 20rem;
}
.navbar {
    background-color: black;
}
.navbar-brand {
    color: white;
}
.navbar-nav {
    color: white;
    --bs-nav--link-color:white;
}
.hero {
    display: flex;
}
/* hero image */
.hero-img{
 
    background-image: url('https://res.cloudinary.com/dpeqgxtle/image/upload/v1678099583/static/images/hero_img.b47bd4022d36.jpg');
    background-position: center center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
/* hero text */
.hero-text {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/* ---------- footer---------------- */
.footer {
    background-color: rgb(129, 126, 122);
    padding: 0.2rem 1rem;
}

/* ------------------ index------------------- */

.lead-text {
    margin: 1rem 2rem;
    font-weight: 800;
    font-size: 3.4rem;
}
.icon {
    font-size: 3rem;
}
.li-txt {
    font-size: 2rem;
    font-weight: 600;
}
.li-nmb {
    font-weight: 900;
}
.me {
    margin-top: 4rem;
    padding: 1rem 3rem;
}
/* ---------------posts page--------------- */










/* ------------------Login, logout, signup page--- */
.form-text {
    font-size: 2rem;
    font-weight: 700;
}
.form-view {
    height: 86vh;
}