{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero contain ">
  <div class="hero-img">
    <div class="hero-text">
      <h1 class="moving text"> T<span class="move-txt" data-wait="2000" data-words='["ake a hike..."]'></span></h1>
    </div>
  </div>
</section>
<article>
  <div class="contain">
    <h1 class="lead-text mt-5">Who am I</h1>
    <div class="row mt-5 justify-content-center mx-3">
      <div class="col-md-6">
        <p>I absolutely love hiking! There's something so exhilarating about being out in nature, surrounded by stunning
          landscapes and breathing in the fresh air. I find it incredibly calming and grounding to take a break from the
          hustle and bustle of everyday life and just immerse myself in the beauty of the natural world. <br>
          The physical activity is a great workout and always leaves me feeling energized and refreshed. I believe that
          everyone should experience the joys of hiking at least once in their lifetime. It's a great way to step
          outside
          of your comfort zone, challenge yourself, and connect with nature. So if you're looking for a fun and
          rewarding adventure, I invite you to join me on a hike and experience the wonders of the great outdoors for
          yourself! You can read more about my adventures in post page.</p>
      </div>
      <div class="col-md-6 high rounded">
        <img src="{% static 'images/hiker.webp' %}" alt="Happy-face" class="img-fluid rounded">
      </div>
    </div>
  </div>
</article>
<section class="my-5 contain text-center">
  <hr>
  <h1 class="lead-text">Let numbers speak for themselves</h1>
  <div class="row m-3">
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-mountain"></i></li>
        <li class="li-txt">Mountains climbed</li>
        <li class="li-nmb">50+</li>
      </ul>
    </div>
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-users"></i></li>
        <li class="li-txt">Connected people</li>
        <li class="li-nmb">100+</li>
      </ul>
    </div>
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-clock"></i></li>
        <li class="li-txt">Time in nature</li>
        <li class="li-nmb">5000+</li>
      </ul>
    </div>
  </div>
</section>


{% endblock content %}