{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero contain ">
  <div class="hero-img">
    <div class="hero-text">
      <h1 class="moving text"> T<span class="move-txt" data-wait="2000" data-words='["ake a hike..."]'></span></h1>
    </div>
  </div>
</section>
<article>
  <div class="contain">
    <h1 class="lead-text mt-5">Who am I</h1>
    <div class="row mt-5 justify-content-center mx-3">
      <div class="col-md-6">
        <p> I'm a lover of nature and adventure, and one of my favorite pastimes is hiking. There's something about being surrounded 
          by stunning landscapes and breathing in fresh air that I find incredibly calming and grounding. When I'm out on the trail,
          I feel like I can just immerse myself in the beauty of the natural world.<br>
          I think that everyone should experience the joys of hiking at least once in their lifetime. It's a great way to step 
          outside of your comfort zone, challenge yourself, and connect with nature. Hiking is not only a source of relaxation, 
          but it's also a great way to stay active and fit.The feeling of accomplishment that comes with reaching the summit of a peak
          it's undescribable<br>
          I've had so many incredible experiences while hiking, from trekking through lush forests to scaling rocky mountainsides.
          Each hike is a unique adventure, and I love discovering new trails and exploring new areas. I've also met some amazing people 
          on my hikes and formed lasting connections with fellow nature enthusiasts. If you're looking for a fun and rewarding adventure, 
          I invite you to join me on a hike and experience the wonders of the great outdoors for yourself! You can read more about my adventures 
          in my blog posts
         </p>
      </div>
      <div class="col-md-6 high rounded">
        <img src="{% static 'images/hiker.webp' %}" alt="Happy-face" class="img-fluid rounded">
      </div>
    </div>
  </div>
</article>
<section class="my-5 contain text-center">
  <hr>
  <h1 class="lead-text">Let numbers speak for themselves</h1>
  <div class="row m-3">
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-mountain"></i></li>
        <li class="li-txt">Mountains climbed</li>
        <li class="li-nmb">50+</li>
      </ul>
    </div>
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-users"></i></li>
        <li class="li-txt">Connected people</li>
        <li class="li-nmb">100+</li>
      </ul>
    </div>
    <div class="col">
      <ul class="text-center p-0">
        <li class="icon"><i class="fas fa-clock"></i></li>
        <li class="li-txt">Time in nature</li>
        <li class="li-nmb">5000+</li>
      </ul>
    </div>
  </div>
</section>
<!-- <section class="my-5 contain text-center">
  <div id="map" class="maps">

  </div>
</section> -->
<!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-9pPyXNHfGB3FuyNK9PShvq4ZSa_tVxU&callback=initMap&v=weekly"
      defer
    ></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->

{% endblock content %}