{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="profile-box contain forms-view">
  <h1 class="lead-text my-5 mx-5">Update profile</h1>
  <div class="row my-5 mx-5 justify-content-around">
    <div class="profile-info col-md-3 my-5">
      <div class="card m-1 p-1">
      <p class="m-0"><strong>First name:</strong> {{ user.first_name|title}}</p>
      <p class="m-0"><strong>Last name:</strong> {{ user.last_name|title}}</p>
      <p class="m-0"><strong>Email:</strong> {{ user.email }}</p>
      <p class="m-0"><strong>Username:</strong> {{ user.username }}</p>
      </div>
    </div>
    <div class="profile-form col-md-5">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="py-4">If you wish to reset your password<a class="button secondaryAction" href="#"> <strong> click here!</strong></a></p>
        <button type="submit" name="update" class="my-4 mx-3 btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete your account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your account?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="delete" class="my-4 mx-3 btn btn-danger">Delete Account</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}