{% extends "base.html" %}

{% block content %}
<div class="contain forms-view">
    <div class="row m-4 justify-content-md-center">
        <h1 class="lead-text my-5">Searched posts</h1>
    </div>
    <a href="{% url 'post' %}" class="search-back mx-5"><i class="fas fa-arrow-left"></i>Back</a>
    <!-- {% if post in posts %} -->
    <div class="row height m-2">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4 p-3 mb-5 rounded">
                <div class="card-body scale">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="../static/images/kerry.jpg">
                        {% else %}
                        <img class="card-img-top" src="{{ post.featured_image.url }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'single_post' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <hr />
                    <div class="post-date">
                        <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-thumbs-up"></i>
                            {{ post.number_of_likes }}</p>
                        <div class="px-3">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- {% else %}
    <h3 class="col-md-6 mx-4"> Sorry, no posts matches your search!</h3>
    {% endif %} -->
</div>

{% endblock %}