{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="contain">
    <div class="masthead contain">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                    <br>
                    <P class="paragraph-text"> {{ post.content2 | safe }}</P>
                </div>
                <div class="d-md-block col-md-6 masthead-image">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%"
                        alt="default-post-image">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}" width="100%" alt="post-image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container contain">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <p class="card-text ">
                        {{ post.content | safe }}
                    </p>
                    <div class="row">

                        <div class="col-1">

                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like none"><i
                                        class="fas fa-thumbs-up" style="color: #060ddb;"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like none"><i
                                        class="far fa-thumbs-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-thumbs-up"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>

                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row mb-5 ">
            <div class="col-md-5 mb-4 border-div">
                <div>
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Comment is waiting for approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h4>Leave comment:</h4>
                    <p><strong>Posting as:</strong> {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <div class="d-grid gap-2 col-6 mx-auto py-3">
                            <button type="submit" class="btn btn-primary mx-1">Comment</button>
                        </div>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-5 ">
            <div class="col-md-8 mb-4 border-div">
                <h3>Comments:</h3>
                <div class="card-body"></div>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p><strong>
                            {{ comment.name }},
                        </strong>
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <hr>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>

            <a href="{% url 'post' %}" class="search-back mx-5"><i class="fas fa-arrow-left"></i>Back</a>
        </div>
    </div>
</div>
    {% endblock content %}