{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="contain">
    <div class="masthead contain my-3">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                    <br>
                    <p class="paragraph-text"> {{ post.content_header | safe }}</p>
                </div>
                <div class="d-md-block col-md-6 masthead-image">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%"
                        alt="default-post-image">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}" width="100%" alt="post-image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container contain">
        <div class="row bg-post rounded">
            <div class="col-md-10 my-4 left">
                <div class=" mx-2">
                    <p class=" mx-2">
                        {{ post.content_footer | safe }}
                    </p>
                    <div class="row">

                        <div class="col-1">

                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like none"><i
                                        class="fas fa-thumbs-up"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like none"><i
                                        class="far fa-thumbs-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-thumbs-up"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>

                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row m-3 ">
            <div class="col-md-6 mb-4 border-div">
                <div>
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Comment is waiting for approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h4>Leave comment:</h4>
                    <p><strong>Posting as:</strong> {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <div class="d-grid gap-2 col-6 mx-auto py-3">
                            <button type="submit" class="btn btn-header mx-1">Comment</button>
                        </div>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-7 mb-4 border-div">
                <h3>Comments:</h3>
                <div class="card-body"></div>
                {% for comment in comments %}
                <div class="comments">
                    <p><strong>
                            {{ comment.name }},
                        </strong>
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    {% if comment.name == request.user %}
                    <div class="left">
                        <form method="post" action="{% url 'delete_comment' comment.id %}">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Delete</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content form-box">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete your comment!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete your comment?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" name="delete"
                                                class="my-4 mx-3 btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form method="get" action="{% url 'update_comment' comment.id %}">
                            <button type="submit" class="btn btn-primary ms-3 btn-sm">Update</button>
                        </form>
                    </div>
                    {% endif %}
                    <hr>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>

            <a href="{% url 'post' %}" class="search-back mx-5"><i class="fas fa-arrow-left"></i>Back</a>
        </div>
    </div>
</div>
{% endblock content %}