{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="contain forms-view">
  <div class="row m-4 justify-content-center">
    <div class="col-md-5 m-4 p-4 text-center form-box">
      <h1 class="form-text my-4">Edit comment</h1>
      <div class="text-center">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy}}
          <button type="submit" class="btn btn-header">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}